body {
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/rachel-walker-fdYWSfH8N6Y-unsplash.jpg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: antiquewhite;
    background-color: rgb(114, 114, 114);
    border-radius: 5px;
    max-width: 750px;  
    padding: 16px; 
}


#poem1 {
    font-size: 30px;
    
}